*{
  margin: 0px;
  padding: 0px;
}
#root{
  overflow: hidden;
}

.header {
  width: 70vw;
  height: 50vh;
  margin-left: 15vw;
  margin-top: 5vh;
  background-color: bisque;
}
.header > img{
  width: 100%;
  height: 100%;
}
main {
  margin: 80px 100px;
  width: 100vw;
  height: 60vh;
}
h1 {
  padding-top: 30px;
}
.buyList, .sellList{
  display: flex;
  /* justify-content: space-around; */
  padding-top: 20px;
  gap: 50px;
  width: 100%;
  overflow-x: auto;
/* *최초 지시의 경우 hidden으로 지시를 받았으나 표현하고자 하는 레이아웃을 드러내고자 오토로 조정, 추후 지시 시 hidden으로 변경? */
}

.item{
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background-color: rgb(255, 135, 159);

}