  *{
    margin: 0px;
    padding: 0px;
  }
  img {
  width: 100vw;
  height: 90vh;
  }
  #root {
  position: relative;
  background-image: url(background.png);
  /* border: 2px solid red; */
  width: 100vw;
  height: 100vh;
  /* padding-top: 2vh; */
  background-color: black;
  }
  .fontA {
  position: absolute;
  color: white;
  left: 20%;
  top: 15%;
  font-size: 1.5rem;
  background-color: rgba(95, 95, 95, 0.8);
  }
  .fontB {
  position: absolute;
  color: white;
  left: 20%;
  top: 40%;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(95, 95, 95, 0.8);
 }


  .loding {
  position: absolute;
  /* left: 20%; */
  top: 90%;

  width: 100vw;
  height: 40px;
  background-color: rgb(138, 138, 138);
  }
  .innerLoading {
  width: 10vw;
  height: 40px;
  background-color: green;
  /* transition: width 0.1s ease-out; */
  }